@media(max-width: 1920px){
  .fc-day-fri img[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/tarde.png"] {

    margin-top:220px ;
    margin-left:33% ;
  }

  .fc-day-fri img[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/mañana.png"] {
    
    margin-top:65px ;
    margin-left:33% ;
  }

  .fc-day-fri img[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/mantenimiento_mañana.png"] {
  
    margin-top:65px ;
    margin-left:33% ;
  }


  .fc-day-fri img[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/mantenimiento_tarde.png"] {

    margin-top:225px ;
    margin-left:33% ;
  }  

  #div_tiempo_pc{

    width:100% !important;
    overflow-y:scroll;
  }
 



}
@media(max-width: 991px){
        .fc-day-fri img[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/tarde.png"] {
        
        margin-left:25% !important;
        margin-top:220px !important ;

      }

      .fc-day-fri img[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/mañana.png"] {
        margin-left:25% !important;
          margin-top:70px !important ;
        
        }
        .fc-day-fri img[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/mantenimiento_mañana.png"] {
        margin-left:25% !important;
          margin-top:70px !important ;
        
        }
        .fc-day-fri img[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/mantenimiento_tarde.png"] {
        
        margin-left:25% !important;
        margin-top:225px !important ;

      }
        
        #contenedor{
          width:100% !important;
        }
        #div-calendario{
          padding:0px !important;

        }
        #calendar{
          
          height:500px;
        }
        #texto_ver_cam{
          position:absolute; 
          margin-top:45% !important; 
          
          width:100%; text-align:center;
          color:white  
        }
        #imagen_calendario{
          width:40px !important;
        }

        #imagen_cam_tablet_pc{
          margin-top:10%;
          
        }
        #div_tiempo_pc{
          margin-top:5% !important;
          
        }

        #iframe_portus{
          margin-top:3% !important;
        }
      
        #iframe_windy{
          margin-top:-1% !important;
        }

        #div_leyenda_pc{
          
        margin-top:3% !important;


        }
        #table_leyenda_pc{
          display:none !important;
        }
        #table_leyenda_tablet{
          display:block !important;
        }

        #texto_windy{
          padding:20px !important;
        }

    
    }

@media(max-width: 600px) 
{

    .fc-day-fri {
        background: rgb(221,255,220) !important;
        background: linear-gradient(0deg, rgba(221,255,220,1) 38%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 100%) !important;
    }
    .fc-day-fri img[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/mañana.png"] {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin:auto !important;
      margin-top:0px !important ;
    
    }
    
    .fc-day-fri img[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/tarde.png"] {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin:auto !important;
      margin-top:45px !important ;
    
    }
    
    .fc-day-fri img[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/mantenimiento_mañana.png"] {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin:auto !important;
      margin-top:0px !important ;
    
    }
    
    .fc-day-fri img[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/mantenimiento_tarde.png"] {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin:auto !important;
      margin-top:45px !important ;
    
    }
    
    #contenedor{
      width:100% !important;
    }
    #div-calendario{
      padding:0px !important;
    
    }
    #calendar{
      
      height:850px !important;
    }
    
    #imagen_calendario{
      width:40px !important;
      height:40px;
      
    
     
    }
    #imagen_calendario[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/mañana-tarde.png"] {
      height:80px !important;
      width:40px !important;
    
    
    }
    #imagen_calendario[src="https://marnific.com/reserva_barcos/public/imagenes/reservas/mantenimiento_mañana_tarde.png"] {
      height:80px !important;
      width:40px !important;
    
    
    }
    
    #boton_barco{
      margin-top:2% !important; 
    }
    
    #texto_ver_cam{
      position:absolute; 
      margin-top:50% !important; 
      
      width:100%; text-align:center;
      color:white  
    }
    
    #img_logo_footer{
      margin-left:-17% !important;
    }
    
    #texto_windy{
      padding:20px !important;
    
    }
    #div_windy{
    margin-top:15% !important;
    }
    
    
  
}